/*-----------------------------------------------------------------------------
-----Uhr-----------------------------------------------------------------------
-----------------------------------------------------------------------------*/

#clock {
    color: white;
    font-size: large;
    text-align: center;
}


/*-----------------------------------------------------------------------------
-----Tabellen-Styles-----------------------------------------------------------
-----------------------------------------------------------------------------*/

table {
    text-align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: hidden;
    color: black;
}

.table-custom {
    text-align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: black;
}

td,
th {
    text-align: center;
    padding: 8px;
    background-color: #f5f5f5;
    opacity: 0.8;
}

tr:nth-child(even) {
    background-color: #afa8a8;
    opacity: 0.8;
}

#table_new_time {
    text-align: center;
    font-family: arial, sans-serif;
    border: hidden;
}

#frost_warning {
    border: hidden;
    color: red;
    font-size: larger;
}

.inner-table {
    background-color: #009933;
}


/*-----------------------------------------------------------------------------
-----Hintergrund und Schrift---------------------------------------------------
-----------------------------------------------------------------------------*/

@keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -180px 0px;
    }
}

.black {
    color: black;
}

.white {
    color: white;
}

p,
label {
    font-size: large;
    font-family: "Lato", sans-serif;
    color: white;
}

p2 {
    color: white;
    ;
}

body {
    color: white;
    font-family: "Lato", sans-serif;
    text-align: center;
    background-image: url('gras.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

body,
html {
    height: 100%;
    color: rgba(255, 249, 249, 0.876);
    line-height: 1.8;
}


/*-----------------------------------------------------------------------------
-----Navigationsleiste---------------------------------------------------------
-----------------------------------------------------------------------------*/

.navbar-custom {
    background-color: #009933;
}


/*Brand Frabe */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(255, 255, 255);
}


/*Links Farbe */

.navbar-custom .navbar-nav .nav-link {
    color: rgba(253, 249, 208, 0.849);
}


/*Hover der Links */

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}


/*-----------------------------------------------------------------------------
-----Buttons-------------------------------------------------------------------
-----------------------------------------------------------------------------*/

.start-button-custom {
    background-color: #009933;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #009933;
}

.start-button-custom:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.mybtn {
    color: white;
}